@import url(./__containter/comments__container.css);
@import url(./__comment/comments__comment.css);
@import url(./__author/comments__author.css);
@import url(./__image/comments__image.css);
@import url(./__quote/comments__quote.css);

.comments {
    display: flex;
    flex-direction: column;

    width: 1184px;
    margin: 100px auto 0;
}

@media screen and (min-width: 1439px) {
    .comments {
        width: 1184px;
        margin: 100px auto 0;
    }
}

@media screen and (max-width: 1025px) {
    .comments {
        width: 928px;
        margin: 100px auto 0;
    }
}

@media screen and (max-width: 769px) {
    .comments {
        max-width: 640px;
        margin: 100px auto 0;
    }
}

@media screen and (max-width: 376px) {
    .comments {
        max-width: 343px;
        margin: 100px auto 0;
    }
}

@media screen and (max-width: 321px) {
    .comments {
        max-width: 100%;
        margin: 64px auto 0;
    }
}