.places__paragraph {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: lighter;
    line-height: 1.875rem;

    color: #FFFFFF;

    margin-top: 0px;
}

@media screen and (max-width: 769px) {
    .places__paragraph {
        max-width: 90%;
    }
}

@media screen and (max-width: 426px) {
    .places__paragraph {
        max-width: 90%;
        margin: 24px auto 0;
    }
}