.places__title {
    font-family: Inter;
    font-size: 72px;
    line-height: 65px;

    color: #FFFFFF;

    margin: 0;

    grid-area: title;
}
@media screen and (max-width: 321px) {
    .places__title {
        font-size: 2rem;
        line-height: 2.188em;

        margin: 0 auto;
        width: 90%;
    }
}