.content__website_url {
    font-family: Inter;
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
    text-decoration-line: underline;

    color: #FFFFFF;
}

@media sceen and (max-width: 321px) {
    .content__website_url {
        

        font-size: 1.125rem;
        line-height: 1.875rem;
    }
}