@import url(./__logo/header__logo.css);
@import url(./__languages/header__languages.css);
@import url(./__lang/header__lang.css);


.header {
    height: 52px;
    max-width: 80%;
    margin: 30px auto 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}