.emblem__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 82px 0 0;
}

@media screen and (max-width: 321px) {
    .emblem__container {
        margin: 32px 0 0;
    }
}