.emblem__image {
    width: 186px;
    height: 226px;

    margin: 0 auto;
}

@media screen and (max-width: 1025px) {
    .emblem__image {
        max-width: 168px;
        height: 200px;
    
        margin: 0 auto;
    }
}