.intro__content-row {
    display: flex;
    flex-direction: row-reverse;
    
    margin: 0 0 35px 0;
}

@media screen and (max-width: 321px) {
    .intro__content-row {
        flex-direction: column;
        margin: 0;
    }
}