.video__duration {
    position: absolute;
    left: 30px;
    bottom: 146px;

    margin: 0;

    font-family: Inter;
    font-size: 0.75rem;
    font-weight: lighter;
    line-height: 0.8125rem;
    letter-spacing: 0.3em;

    color: #FFFFFF;
}

@media screen and (max-width: 321px) {
    .video__duration {
        position: relative;
        left: 0;
        bottom: 0;
    }
}