.footer__copyright{font-family:Inter;font-weight:lighter;font-size:14px;line-height:20px;text-align:right;color:#FFF;}
@media screen and (max-width: 426px) {
.footer__copyright{text-align:left;margin:48px 0 0;}
}