.footer__copyright {
    font-family: Inter;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    text-align: right;

    color: #FFFFFF;
}
@media screen and (max-width: 376px) {
    .footer__copyright {
        text-align: left;
        margin: 48px 0 0;
    }
}
@media screen and (max-width: 321px) {
    .footer__copyright {
        text-align: left;
        margin: 48px 0 0;
    }
}