.video_header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: absolute;
}

@media screen and (max-width: 321px) {
    .video__header {
        margin: 0 auto 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        bottom: 16px;
        left: 16px;
    }

}