.video__title {
    position: absolute;
    left: 30px;
    bottom: 60px;
    width: 300px;

    margin: 0;

    font-family: Inter;
    font-size: 36px;
    line-height: 39px;

    color: #FFFFFF;
}
@media screen and (max-width: 321px) {
    .video__title {
        width: 90%;
        margin: 8px 0 0;
        font-size: 1.5rem;
        line-height: 1.625rem;

        position: relative;
        left: 0;
        bottom: 0;
    }
}