.additional__item {
    width: 284px;
    position: relative;
    overflow: hidden;
    margin: 8px;
}

@media screen and (max-width: 1025px) {
    .additional__item {
        margin: 5px;
    }
}

@media screen and (max-width: 376px) {
    .additional__item {
        margin: 0 auto 24px;
    }

    .additional__item:last-child {
        margin: 0 auto;
    }
}