.content__website_url-heading {
    font-family: Inter;
    font-size: 12px;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 0.2em;

    color: #AAAAAA;

    margin: 0 0 12px;

}
@media screen and (max-width: 769px) {
    .content__website_url-heading {
        margin: 0 0 8px;

        font-size: 0.75rem;
        line-height: 1.25rem;
    }
}