.comments__comment {
  width: calc((100%-60px) / 3);
}

@media screen and (max-width: 769px) {
  .comments__comment {
    width: 50%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 376px) {
  .comments__comment {
    width: 90%;
    margin: 47px auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
