@import url(./_theme/_bold/intro__text_bold.css);

.intro__text {
    font-family: Inter;
    font-size: 14px;
    font-weight: lighter;
    line-height: 23px;

    color: #FFFFFF;

    max-width: 683px;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.intro__text:first-child {
    margin: 0 20px 0 0;
}

@media screen and (max-width: 426px) {
    .intro__text {
        font-size: 1rem;
        line-height: 1.6875rem;


        margin: 24px 0 0;
    }

    .intro__text:first-child {
        margin: 24px 0 0;
        font-size: 0.625em;
        line-height: 1rem;
    }

    .intro>.intro__text:last-child {
        font-size: 0.750em;
        line-height: 1.188em;
    }
}

@media screen and (max-width: 321px) {
    .intro__text {
        font-size: 1.125em;
        line-height: 1.875em;

        margin: 24px 0 0;
    }

    .intro__text:first-child {
        margin: 24px 0 0;
        font-size: 0.625em;
        line-height: 1rem;
    }

    .intro>.intro__text:last-child {
        font-size: 0.750em;
        line-height: 1.188em;
    }
}