.cover__container {
    position: absolute;
    top: 274px;
    left: 38px;
    text-decoration: none;

    width: 1095px;
}
@media screen and (max-width: 321px) {
    .cover__container {
        width: 100%;
        top: 64px;
        left: 0;
    }
}