@import url(./_theme/_bold/intro__text-wrapper_bold.css);

.intro__text-wrapper {
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #fff;
    max-width: 692px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.intro>.intro__text-wrapper:last-child {
    margin: 0 20px 0 0;
    font-size: 13px;
    line-height: 20px;
}

@media screen and (max-width:769px) {
    .intro__text-wrapper {
        font-size: 16px;
        line-height: 27px;
    }

    .intro__text-wrapper:first-child {
        font-size: 10px;
        line-height: 16px;
        margin: 0 0 39px 0;
    }

    .intro>.intro__text-wrapper:last-child {
        margin: 35px 0 0;
        font-size: 13px;
        line-height: 20px;
    }
}

@media screen and (max-width:376px) {
    .intro>.intro__text-wrapper:last-child {
        margin: 32px 0 0;
        font-size: 12px;
        line-height: 19px;
    }

    .intro__text-wrapper:first-child {
        margin: 23px 0 0;
        font-size: 10px;
        line-height: 16px;
    }

    .intro__text-wrapper:last-child {
        margin: 24px 0 0;
        font-size: 18px;
        line-height: 30px;
    }
}