.content-subtitle {
    font-family: Inter;
    font-weight: lighter;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    align-self: center;

    margin: 0 0 72px 0;

    color: #FFFFFF;
}