.lead__subtitle {
    font-family: Inter;
    font-weight: lighter;
    text-align: center;

    color: #FFFFFF;

    align-self: center;
}

@media screen and (max-width: 1441px) {
    .lead__subtitle {
        margin: 48px auto 0;
        max-width: 90%;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

@media screen and (max-width: 1025px) {
    .lead__subtitle {
        margin: 48px auto 0;
        max-width: 90%;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

@media screen and (max-width: 769px) {
    .lead__subtitle {
        margin: 48px auto 0;
        max-width: 90%;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}

@media screen and (max-width: 426px) {
    .lead__subtitle {
        margin: 8px auto 0;
        max-width: 90%;
        font-size: 1rem;
        line-height: 1.4375rem;
    }
}