@import url(./__contianer/cover__container.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__tint/cover__tint.css);

.cover {
    display: flex;
    flex-direction: column;

    width: 1184px;
    height: 594px;

    margin: 102px auto 0;

    position: relative;
}