.emblem__title {
    width: 433px;

    margin: 0;

    font-family: Inter;
    font-size: 42px;
    line-height: 45px;

    color: #FFFFFF;
}
@media screen and (max-width: 321px) {
    .emblem__title {
        font-size: 1.5em;
        line-height: 1.625em;
        width: 288px;
    }
}