.places__place {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: auto 460px;
    grid-template-areas:
        "title website"
        "image content";

    grid-column-gap: 43px;
    grid-row-gap: 60px;

    margin: 0 0 70px 0;
}

@media screen and (max-width: 426px) {
    .places__place {
        grid-template-columns: 320px;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "title"
            "website"
            "image"
            "image";

        grid-column-gap: 43px;
        grid-row-gap: 60px;
    }
}
@media screen and (max-width: 321px) {
    .places__place {
        grid-template-columns: 320px;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "title"
            "website"
            "image"
            "image";

        grid-column-gap: 43px;
        grid-row-gap: 60px;
    }
}