.video__subtitle{position:relative;left:0;bottom:0;margin:0;font-weight:lighter;font-family:Inter;font-size:.875rem;line-height:.9375rem;color:#FFF;}
@media screen and (min-width: 1023px) {
.video__subtitle{margin:18px 0 0;}
}