.emblem__item {
    width: 208px;
    height: 310px;

    display: flex;
    flex-direction: column;
    align-content: center;
}

@media screen and (max-width: 321px) {
    .emblem__item {
        margin: 0 auto 56px;
    }
}