@import "./_url/content__website_url.css";
@import "./_url-heading/content__website_url-heading.css";
.content__website{height:45px;margin:0 0 60px;grid-area:website;max-width:282px;}
@media screen and (max-width: 769px) {
.content__website{height:100%;margin:0 0 32px;width:90%;}
}
@media screen and (max-width: 426px) {
.content__website{height:100%;margin:0 auto 32px;width:90%;}
}