@import url(./_url/content__website_url.css);
@import url(./_url-heading/content__website_url-heading.css);

.content__website {
    height: 45px;
    margin: 0 0 60px 0;

    grid-area: website;

    max-width: 282px;
}

@media screen and (max-width: 769px) {
    .content__website {
        height: 100%;
        margin: 0 0 32px;
        width: 90%;
    }
}