.video__icon_play {
    width: 41px;
    height: 41px;

    position: absolute;
    top: 30px;
    left: 30px;
    
    background-image: url(../../../../images/__icon_play.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}